USE [master]
GO
/****** Object:  Database [HOTELKARPAS]    Script Date: 13/4/2024 00:53:33 ******/
CREATE DATABASE [HOTELKARPAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTELKARPAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HOTELKARPAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOTELKARPAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HOTELKARPAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTELKARPAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTELKARPAS]
GO
/****** Object:  Table [dbo].[BitacoraLogin]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraLogin](
	[fechaLogin] [date] NOT NULL,
	[idCuenta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fechaLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] NOT NULL,
	[paisProcedencia] [varchar](200) NOT NULL,
	[telefono] [int] NOT NULL,
	[correoElectronico] [varchar](200) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[idUsuario] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
	[pasword] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[idHabitacion] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[precio] [decimal](32, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[idReserva] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[estadoReserva] [varchar](50) NOT NULL,
	[fechaEntrada] [date] NOT NULL,
	[fechaSalida] [date] NOT NULL,
	[idHabitacion] [int] NOT NULL,
	[descuentoAplicado] [bit] NOT NULL,
	[precioTotal] [decimal](33, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] NOT NULL,
	[nombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/4/2024 00:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] NOT NULL,
	[nombreCompleto] [varchar](150) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[direccionVivienda] [varchar](200) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[numTell] [int] NOT NULL,
	[genero] [varchar](2) NOT NULL,
	[idRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([idCliente], [paisProcedencia], [telefono], [correoElectronico], [nombre]) VALUES (703100722, N'Costa Rica', 84035342, N'esu@estudiantec.cr', N'Eyden Su Díaz')
GO
INSERT [dbo].[Cuenta] ([idUsuario], [idCuenta], [pasword]) VALUES (703100722, 1, N'admin')
INSERT [dbo].[Cuenta] ([idUsuario], [idCuenta], [pasword]) VALUES (12345678, 2, N'1234')
INSERT [dbo].[Cuenta] ([idUsuario], [idCuenta], [pasword]) VALUES (1, 3, N'a')
GO
INSERT [dbo].[Rol] ([idRol], [nombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([idRol], [nombreRol]) VALUES (2, N'Recepcionista')
GO
INSERT [dbo].[Usuario] ([idUsuario], [nombreCompleto], [fechaNacimiento], [direccionVivienda], [email], [numTell], [genero], [idRol]) VALUES (1, N'a', CAST(N'2000-01-20' AS Date), N'a', N'a', 1, N'M', 1)
INSERT [dbo].[Usuario] ([idUsuario], [nombreCompleto], [fechaNacimiento], [direccionVivienda], [email], [numTell], [genero], [idRol]) VALUES (2, N'a', CAST(N'2000-01-20' AS Date), N'a', N'a', 1, N'M', 2)
INSERT [dbo].[Usuario] ([idUsuario], [nombreCompleto], [fechaNacimiento], [direccionVivienda], [email], [numTell], [genero], [idRol]) VALUES (12345678, N'Lionel Messi', CAST(N'2001-01-01' AS Date), N'Cieneguita', N'dada', 123, N'M', 2)
GO
ALTER TABLE [dbo].[BitacoraLogin]  WITH CHECK ADD FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([idHabitacion])
REFERENCES [dbo].[Habitacion] ([idHabitacion])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
USE [master]
GO
